<div [formGroup]="forgotPasswordForm">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                                <form class="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-envelope color-blue"></i>
                                                </span>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="email"
                                                    aria-describedby="email"
                                                    placeholder="Enter email ..."
                                                    formControlName="email"
                                                />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input
                                                [disabled]="!forgotPasswordForm.valid"
                                                class="btn btn-lg btn-primary btn-block"
                                                value="Send My Password"
                                                type="button"
                                                (click)="sendForgotPassword()"
                                            />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>