<main role="main">
  <div class="col-md-12">
    <img class="featurette-image img-fluid mx-auto" id="demi-img" src="../../assets/images/bg-blue.jpeg" alt="Generic placeholder image">
  </div>
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our Concept</h2>
        <p class="lead">We help our clients evaluate and develop skincare formulae by comparing cosmetics on statistically viable samples of women & men up to 1000 people:</p>
        <ul>
            <li>The antioxydative and moisturizing <strong>effect of formulae</strong></li>
            <li>The antioxydative and moisturizing <strong>effect of ingredients</strong></li>
            <li>Consumer feedback after product use</li>
            <li><strong>Environmental conditions</strong>, UV pollution, surrounding the consumer’s lifestyle</li>
            <li><strong>Skincare performance</strong> after 1 day – 8 days – 15 days - X days.</li>
          </ul>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="../../assets/images/bg-blue.jpeg"
          alt="Generic placeholder image">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="text-center row">
      <h2 class="text-center">Our products</h2>
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="../../assets/images/bg-blue.jpeg"
          alt="Generic placeholder image"
          width="140"
          height="140">
        <h3>Portable lab device</h3>
        <p>Send the datas from the patches to the mobile app.</p>
      </div>
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="../../assets/images/bg-blue.jpeg"
          alt="Generic placeholder image"
          width="140" height="140">
        <h3>Patches</h3>
        <p>They analyse the datas of the skin.</p>
      </div>
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="../../assets/images/bg-blue.jpeg"
          alt="Generic placeholder image"
          width="140"
          height="140">
        <h3>Mobile app</h3>
        <p>Ask feedbacks and lifestyle data to understand the skin.</p>
      </div>
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="../../assets/images/bg-blue.jpeg"
          alt="Generic placeholder image"
          width="140"
          height="140">
        <h3>European data center</h3>
        <p>Store datas for our clients.</p>
    </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Data & Technology</h2>
        <ul>
          <li>Easy multilingual smartphone app and customer feedback.</li>
          <li>Read simultaneously skin response & consumer feed-back.</li>
          <li>Geolocalisation and exposome data.</li>
          <li>Proprietary nomadic lab devic</li>
          <li>Skin patches to decipher skin reactions and ingredient presence.</li>
          <li>Repeatability of protocols in real life conditions, such as bathrooms.</li>
          <li>Saas and European data center.</li>
          <li>Combining efforts with countries usual CRO’s.</li>
          <li>In all countries, even in China where anonymized data is key.</li>
        </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/images/bg-blue.jpeg" alt="Generic placeholder">
      </div>
    </div>
  </div>
</main>