<app-header [isAuthenticated]="isAuth"></app-header>

    <main role="main">

        <div class="row col-md-12" id="section1">
            <div class="row col-md-6">
                <img class="featurette-image img-fluid mx-auto" id="demi-img" src="../../assets/images/home-bg.png" alt="Generic placeholder image">
            </div>
            <div class="row ustify-content-md-center col-lg-3" id="right-side">
                <img src="../../assets/images/footer-logo.svg" alt="Generic placeholder image">
                <p>Wired Beauty is a <strong>new data driven market</strong> research company dedicated to cosmetic laboratories.</p>
            </div>   
        </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">

        <div class="row featurette" id="section2">
          <div class="col-md-7">
            <h2 class="featurette-heading">Our Concept</h2>
                <p class="lead">We help our clients evaluate and develop skincare formulae by comparing cosmetics on statistically viable samples of women & men up to 1000 people:</p>
                <ul>
                    <li>The antioxydative and moisturizing <strong>effect of formulae</strong></li> 
                    <li>The antioxydative and moisturizing <strong>effect of ingredients</strong></li> 
                    <li>Consumer feedback after product use</li>
                    <li><strong>Environmental conditions</strong>, UV pollution, surrounding the consumer’s lifestyle</li> 
                    <li><strong>Skincare performance</strong> after 1 day – 8 days – 15 days - X days.</li> 
                </ul>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../assets/images/home-labo.png" alt="Generic placeholder image">
          </div>
        </div>

        <div class="text-center row" id="section3">
            <h2 class="text-center">Our products</h2> 
          <div class=" col-lg-3 col-md-3">
            <div class="product">
              
                <img class="featurette-image img-fluid mx-auto" src="../../assets/images/laptop.png" alt="Generic placeholder">
                <h3 class="mt-5">PORTABLE LAB DEVICE</h3>
                <p>Send the datas from the patches to the mobile app.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="product">
           
            <img class="featurette-image img-fluid mx-auto" src="../../assets/images/Patch.png" alt="Generic placeholder">
            <h3 class="mt-3">PATCHES</h3>
            <p>They analyse the datas of the skin.</p>
            
            </div>
          </div>
          <div class=" col-lg-3 col-md-3">
              <div class="product">
             
              <img class="featurette-image img-fluid mx-auto" src="../../assets/images/App.png" alt="Generic placeholder"> 
              <h3 class="mt-2">MOBILE APP</h3>
            <p>Ask feedbacks and lifestyle data to understand the skin.</p>
        </div>
          </div>
          <div class=" col-lg-3 col-md-3">
              <div class="product">
            <img class="featurette-image img-fluid mx-auto" src="../../assets/images/Data.png" alt="Generic placeholder">
            <h3 class="mt-4">EUROPEAN DATA CENTER</h3>
            <p>Store datas for our clients.</p>
        </div>
          </div>
        </div>
        <!-- START THE FEATURETTES -->

        <div class="row featurette" id="section4">
            <div class="mt-5 col-md-5" id="bckImg"></div>
          <div class="col-md-7" id="bckTxt">
            <h2 class="featurette-heading">Data & Technology</h2>
            <ul>
                <li>Easy multilingual smartphone app and customer feedback.</li>
                <li>Read simultaneously skin response & consumer feed-back.</li>
                <li>Geolocalisation and exposome data.</li>
                <li>Proprietary nomadic lab devic</li>
                <li>Skin patches to decipher skin reactions and ingredient presence.</li>
                <li>Repeatability of protocols in real life conditions, such as bathrooms.</li>
                <li>Saas and European data center.</li>
                <li>Combining efforts with countries usual CRO’s.</li>
                <li>In all countries, even in China where anonymized data is key.</li>
              </ul>
        </div>
          
        </div>
        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->
      <!-- FOOTER -->
<app-footer></app-footer>
    </main>



