@import "../../assets/styles/colors.scss";

#home-container {
  height: calc(100vh - 100px);
  padding: 0 12px 0 12px;

  #section1 {
    display: flex;
    width: calc(100% + 24px);
    margin: -12px;

    div:first-child {
      width: 50%;

      @media (max-width: 1000px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    div:last-child {
      background-color: $blueWave;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media (max-width: 1000px) {
        width: 100% !important;
      }

      img {
        max-height: 400px;
        padding: 50px;
      }

      p {
        text-align: center;
        color: white;
      }
    }
  }

  .marketing {
    #section2 {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 705px) {
        flex-direction: column;
      }

      .first-bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-right: 10px;
        margin-left: 65px;
        margin-bottom: 50px;

        @media (max-width: 705px) {
          flex-direction: column;
          margin-left: 0px;
        }

        @media (max-width: 1000px) {
          width: 100%;
        }

        p {
          font-size: 16px;
          margin-top: 32px;
          padding-left: 25px;

          @media (max-width: 525px) {
            font-size: 14px;
          }
        }

        ul {
          padding: 0 0 0 41px;
          font-size: 15px;

          @media (max-width: 525px) {
            font-size: 14px;
          }
        }
      }

      .second-bloc {
        width: 40%;
        margin: auto;

        @media (max-width: 705px) {
          width: 100%;
        }

        img {
          display: block;
          margin: auto;
          max-width: 450px;
          width: 100%;
        }
      }
    }

    #section3 {
      margin-top: 50px;

      h2 {
        margin-bottom: 50px;
      }

      .allProducts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .product {
          width: 250px;
          display: flex;
          background-color: $tangerine;
          padding: 30px 15px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 15px 30px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;

          h3, p {
            color: $white;
          }
        }
      }
    }

    #section4 {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      @media (max-width: 400px) {
        justify-content: initial;
      }

      #bckImg {
        position: relative;
        height: 700px;
        width: 540px;
        margin-right: 45px;

        @media (max-width: 299px) {
          margin-left: 0;
        }

        @media (min-width: 300px) and (max-width: 335px) {
          margin-left: 20px;
        }

        @media (min-width: 336px) and (max-width: 370px) {
          margin-left: 50px;
        }

        @media (min-width: 371px) and (max-width: 400px) {
          margin-left: 70px;
        }

        @media (max-width: 470px) {
          height: 300px !important;
          width: 140px !important;
        }

        @media (max-width: 660px) {
          height: 500px;
          width: 340px;
        }

        .firstImage,
        .secondImage {
          position: absolute;
          height: 100%;
          width: 100%;
        }

        .firstImage {
          z-index: 2;

          img {
            height: 100%;
            max-height: 660px;

            @media (max-width: 500px) {
              font-size: 14px;
            }
          }
        }

        .secondImage {
          z-index: 1;
          right: 0px;
          background-color: $skyBlue;
          bottom: 0px;
          height: calc(100% - 75px);
          width: calc(100% - 75px);

          @media (max-width: 660px) {
            right: -60px;
            bottom: -15px;
            height: calc(100% - 45px);
            width: calc(100% - 50px);
          }

          @media (max-width: 470px) {
            right: -108px;
            bottom: -15px;
            height: calc(100% - 40px);
            width: calc(100% + 40px);
          }
        }
      }

      #bckTxt {
        margin-top: 60px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;

        @media (max-width: 500px) {
          font-size: 14px;
        }

        > li {
          padding: 5px 0;
        }
      }
    }
  }
}

#footer-container {
  color: white !important;
  background-color: $blueWave !important;
  width: calc(100% + 24px);
  margin-left: -12px;

  .text-reset i {
    border: 2px solid $white;
    padding: 5px;
    border-radius: 18px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  #input-footer-submit{
    border: 1px solid white;
    border-radius: 5px;
  }

  #btn-footer-submit{
    border: 1px solid #86BFE5;
    border-radius: 10px;
    color: white;
    background-color: #86BFE5;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .menus {
    display: flex;
    justify-content: space-between;
    padding: 50px 35px;
    flex-wrap: wrap;

    @media (max-width: 391px) {
      justify-content: center;
      padding: 25px 35px !important;
    }

    @media (max-width: 391px) {
      .copyright-mobile {
        display: initial !important;
      }

      .copyright-desktop {
        display: none;
      }
    }

    .informations {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .newsletter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 0;

      @media (max-width: 391px) {
        button {
          margin: 0 !important;
          margin-top: 10px !important;
        }

        div:first-child {
          display: flex;
          flex-direction: column;
          text-align: center !important;
        }

        div:last-child {
          text-align: center !important;
        }
      }

      div:first-child {
        text-align: left;
      }

      div:last-child {
        text-align: left;
        margin-top: 12px;
      }
    }

    div {
      padding: 0 10px;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;

    .logo {
      margin-bottom: 25px;
    }

    span {
      font-size: 14px;
    }
  }
}

.bold {
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}