@import "../../assets/styles/colors.scss";

#contact-container {
    height: 100vh;

    .card {
        margin: 35px;
    }
    h2 {
        color: $charcoal;
    }

    .row {
        height: 90%;
    }

    #message {
        height: 200px;

    }

    .btn-submit {
        background-color: $blueWave;
        color: $white;
        width: 100%;
    }

    .cardbody-color {
        background-color: $sandDune;
    }

    #id {
        margin-right: 25px;
    }
}

#footer-container {
    color: white !important;
    background-color: $blueWave !important;

    a {
        color: white;
        text-decoration: none;
    }

    #input-footer-submit{
        border: 1px solid white;
        border-radius: 5px;
    }

    #btn-footer-submit{
        border: 1px solid #86BFE5;
        border-radius: 10px;
        color: white;
        background-color: #86BFE5;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}