<div class="container">
    <div class="card" id="allUsers">
        <h2 class="text-dark">Users</h2>  
        <div class="card-body">
            <table class="table mt-5" id="table-users">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Company</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>client</td>
                    <td>client1@gmail.com</td>
                    <td>
                        <a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>client</td>
                    <td>client1@gmail.com</td>
                    <td>
                        <a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>client</td>
                    <td>client1@gmail.com</td>
                    <td>
                        <a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>client</td>
                    <td>client1@gmail.com</td>
                    <td>
                        <a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>client</td>
                    <td>client1@gmail.com</td>
                    <td>
                        <a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>client</td>
                    <td>client1@gmail.com</td>
                    <td>
                        <a href="#" class="text-danger" id="suppr" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="text-center mt-3 mt-sm-3" style="margin-bottom: 25px;">
            <ul class="pagination justify-content-center mb-0">
              <li class="page-item disabled"> <span class="page-link">Back</span> </li>
              <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span class="sr-only">(current)</span></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">25</a></li>
              <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
            </ul>
          </div>
    </div>
</div>