@import "../../assets/styles/colors.scss";

::ng-deep {
    #navbar-container.userNotLogged {
        display: none;
    }
}

#login-container {
    height: 100vh;

    form {
        padding: 30px 48px !important
    }

    h2 {
        color: $charcoal;
        margin-bottom: 25px;
    }

    .row {
        height: 100%;
    }

    .btn-color {
        background-color: $charcoal;
        color: $white;

    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .cardbody-color {
        background-color: $sandDune;
    }

    a {
        text-decoration: none;
    }

    .auth-footer {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .back {
            text-align: center;
            margin-right: 10px;

            &:hover {
                color: $blueWave;
            }
        }

        .forgot {
            color: $blueWave;

            &:hover {
                color: $skyBlue;
            }
        }
    }

    .btn-login,
    button {
        background-color: $blueWave !important;
        color: $white;

        &:hover {
            background-color: $skyBlue !important;
        }
    }
}

.pointer {
    cursor: pointer;
}