@import "../../assets/styles/colors.scss";

::ng-deep {
    #navbar-container.userNotLogged {
        display: none;
    }
}

#login-container {
    height: 100vh;

    .email-bloc,
    .password-bloc {
        input {
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }

    .password-bloc {
        .input-bloc {
            position: relative;
        }

        div a {
            color: $charcoal;
        }

        .eye-button {
            position: absolute;
            top: 7px;
            right: 10px;

            i {
                color: $blueWave;
            }
        }
    }

    form {
        padding: 30px 48px !important
    }

    h2 {
        color: $charcoal;
        margin-bottom: 25px;
    }

    .row {
        height: 100%;
    }

    .btn-color {
        background-color: $charcoal;
        color: $white;
    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .cardbody-color {
        border: 1px solid $sandDune;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        @media (max-width: 450px) {
            padding: 30px 10px !important
        }
    }

    a {
        text-decoration: none;

        @media (max-width: 400px) {
            font-size: 13px;
        }
    }

    .auth-footer {
        margin-top: 30px !important;
        display: flex;
        justify-content: center;

        .back {
            text-align: center;
            margin-right: 10px;

            &:hover {
                color: $blueWave;
            }
        }

        .forgot {
            color: $blueWave;

            &:hover {
                color: $skyBlue;
            }
        }
    }

    .card {
        border: none;
    }

    .btn-login,
    button {
        background-color: $blueWave !important;
        color: $white;

        &:hover {
            background-color: $skyBlue !important;
        }

        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}