@import "../../assets/styles/colors.scss";

#login-container {
    height: 100vh;

    form {
        padding: 30px 48px !important
    }

    h2 {
        color: $charcoal;
    }

    .row {
        height: 100%;
    }

    .logo {
        margin-bottom: 25px;
    }

    .btn-color {
        background-color: $charcoal;
        color: $white;

    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .cardbody-color {
        background-color: $sandDune;
    }

    a {
        text-decoration: none;
    }

    .back {
        text-align: center;
        margin-top: 20px;
        font-style: italic;

        &:hover {
            color: $skyBlue;
        }
    }
}

.pointer {
    cursor: pointer;
}