<div class="wrapper d-flex align-items-stretch" id="dashboard-container">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <img src="../../assets/images/wb-logo-white.svg" alt="Wired beauty logo" [routerLink]="['']" class="pointer">
            <ul class="list-unstyled components mb-5">
                <li class="active"><a [routerLink]="['']">Dashboard</a></li>
                <li><a [routerLink]="['/reports']">Reports</a></li>
                <li><a [routerLink]="['/users']">Users</a></li>
                <li><a [routerLink]="['/data']">Data</a></li>
                <li><a [routerLink]="['/settings']">Settings</a></li>
            </ul>
        </div>
        <div class="footer pointer">
            <p (click)="logout()">Logout</p>
        </div>
    </nav>
    <div id="content" class="p-4 p-md-5">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light nav-burger">
            <div class="container-fluid">
                <button
                    class="btn d-inline-block d-lg-none ml-auto btn-mobile"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto navbar-mobile">
                        <li class="active"><a [routerLink]="['']">Dashboard</a></li>
                        <li><a [routerLink]="['/reports']">Reports</a></li>
                        <li><a [routerLink]="['/users']">Users</a></li>
                        <li><a [routerLink]="['/data']">Data</a></li>
                        <li><a [routerLink]="['/settings']">Settings</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->

		<form method="POST" enctype="multipart/form-data" (submit)="uploadFile($event)" >
			<input type="file" name="file" value="UPLOAD">
			<input type="submit" value="UPLOAD">
		</form>

		<div [formGroup]="dataForm">
			<p>Veuillez choisir la meilleure méthode pour vous contacter :</p>
			<div class="bloc1">
				<div class="input-skin">
					<input type="radio" id="skin" name="tab" value="skin" formControlName="tab">
					<label for="skin">Skin biosense</label>
				</div>

				<div class="input-per">
					<input type="radio" id="perception" name="tab" value="perception" formControlName="tab">
					<label id="percep" for="perception">Perception</label>
				</div>
			</div>
			<div
				class="bloc2"
				[hidden]="dataForm.controls['tab'].value === 'perception'">
				<div>
					<input type="radio" id="moisturizing" name="option" value="moisturizing" formControlName="option">
					<label for="moisturizing">Moisturizing</label>
				</div>

				<div>
					<input type="radio" id="antioxidant" name="option" value="antioxidant" formControlName="option">
					<label for="antioxidant">Antioxidant</label>
				</div>

				<div>
					<input type="radio" id="barrier" name="option" value="barrier" formControlName="option">
					<label for="barrier">Barrier</label>
				</div>
			</div>
			<div class="bloc3">
				<label for="pet-select">Choose data count to export:</label>
				<select name="data" id="data-select" formControlName="count">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
					<option value="60">60</option>
					<option value="70">70</option>
					<option value="80">80</option>
					<option value="90">90</option>
					<option value="100">100</option>
				</select>
			</div>
			<div>
			  <button
				class="btn btn-submit px-6"
				type="button pointer"
				(click)="generatePdfFile()">GENERATE GRAPH</button>
			</div>

			<!-- <div>
				<pre>
					{{uploadFileForm.value | json}}
					{{uploadFileForm.valid | json}}
				</pre>
				<pre>
					{{dataForm.value | json}}
					{{dataForm.valid | json}}
				</pre>
			</div> -->
		</div>

		<div #echarts id="main" style="width: 600px;height:400px;"></div>
    </div>
</div>