<div class="container" id="contact-container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-11">
            <div class="card">
                <form class="card-body cardbody-color p-lg-9">
                    <h2 class="text-dark">Settings</h2>  
                    <div class="mb-4">
                        <label for="name">Full Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            placeholder="Name">
                    </div>
                    <div class="mb-4">
                        <label for="email">Email</label>
                        <input
                            type="text"
                            class="form-control"
                            id="email"
                            aria-describedby="email"
                            placeholder="Email">
                    </div>
                    <div class="mb-4">
                        <label for="company">Company</label>
                        <input
                            type="text"
                            class="form-control"
                            id="object"
                            placeholder="Company">
                    </div> 
                    <div class="mb-4">
                        <label for="password">Actual password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Actual password">
                    </div>
                    <div class="mb-4">
                        <label for="password">New password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="New password">
                    </div> 
                    <div class="mb-4">
                        <label for="password">Confirm password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Confirm password">
                    </div> 
                    <div class="text-center">
                        <button type="submit" class="btn btn-submit px-6">
                            SAVE CHANGES
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 