<nav class="navbar navbar-expand-lg navbar-sand pt-0" id="navbar-container">
    <div class="wrapper"></div>
    <div class="container-fluid all-show">
        <div class="logo pointer" [routerLink]="['']">
            <img src="../../assets/images/wb-logo.svg" alt="Wired beauty logo">
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fal fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">WHAT WE DO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">DATA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WHO WE ARE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">CONTACT</a>
                </li>
            </ul>
            <div class="d-flex flex-column sim">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <ng-container *ngIf="!isAuthenticated">
                            <a class="nav-link" [routerLink]="['/login']">SIGN IN</a>
                        </ng-container>
                        <ng-container *ngIf="isAuthenticated">
                            <a class="nav-link dashboard" [routerLink]="['/dashboard']">DASHBOARD</a>
                        </ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>