@import "../../assets/styles/colors.scss";

$navbar-height: 100px;

#navbar-container {
    height: $navbar-height;
    position: sticky;
    width: 100%;

    .container-fluid {
        background-color: $white;
    }

    a, li a {
        color: $charcoal;
    }

    .logo {
        height: $navbar-height;
        width: $navbar-height;

        img {
            height: 100%;
            width: 100%;
            margin-left: -12px
        }
    }

    li.nav-item {
        a {
            font-weight: bold;
            position: relative;
        }

        &.active a {
            color: $blueWave;
        }

        &:hover {
            span {
                color: $skyBlue;
            }

            span::after {
                border-bottom: 2px solid $skyBlue;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                width: calc(100% - 20px);
                bottom: 0;
                margin: 0 auto;
                color: $blueWave;
                margin-top: 2px;
            }
        }
    }

    .nav-link.dashboard {
        @media (max-width: 991px) {
            padding-top: 0 !important;
        }
    }

    .navbar-nav > li > a {
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 20px;
    }

    .navbar-toggler {
        padding: .20rem .50rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid $charcoal;
    }

    .navbar-brand {
        color: $white;
        font-family: 'Allerta Stencil', sans-serif;
        margin-bottom: 4px;
        font-size: 27px
    }

    &.navbar-sand {
        color: $charcoal;
    }

    .all-show {
        z-index: 10
    }

    .pointer {
        cursor: pointer;
    }
}