<div id="about-us-container">
  <div class="row col-md-12 block1">
    <div class="block2"></div>
    <div class="block3">
      <img class="img-techno" src="../../assets/images/aboutus.jpg" alt="about us image">
      <h1 style="margin: auto;">ABOUT US</h1>
    </div>
  <div>
  <div class="text-center" id="sect1">
    <div class="allIdea">
      <div class="idea">
        <h3 class="mt-4">FRENCH START-UP</h3>
        <p>Wired Beauty is a French beauty-tech market research company which invested 1,3M€ to develop a non-invasive.</p>
      </div>
      <div class="idea">
        <h3 class="mt-4">DIFFERENT</h3>
        <p>Proprietary IOT and Algorithm allowing deciphering within minutes, combined with a consumer app harvesting consumer opinions. </p>
      </div>
      <div class="idea">
        <h3 class="mt-4">BETTER</h3>
        <p>Real World Evidence of skincare efficiency on large statistical basis, approximately 1000 testers.</p>
      </div>
    </div>
  </div>
  <div class="team">
    <h2 class="text-center bold">OUR TEAM</h2>
    <div id="section2">
      <img class="img-sophie" src="../../assets/images/sophie.jpg" alt="sophie image">
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-7  mt-5">
          <h4>SOPHIE LE TANNEUR, CEO</h4>
          <p>An FMCG corporate life of over 20 years at Colgate-Palmolive & L’Oréal in marketing and general management positions in Europe.</p> <br>
          <p>An entrepreneurial life with turn-arounds of a luxury brands backed by Private equity funds for followed by 7 years of consulting Lucinda which she founded.</p><br>
          <p>A passion for entrepreneurship as an impact investor and mentor.</p>
        </div>
      </div>
    </div>
    <div id="section3" class="mt-5">
      <img class="img-stan" src="../../assets/images/stan.jpg" alt="stan image">
      <div class="row" style="margin-top: 100px;">
        <div class="col-md-2"></div>
        <div class="col-md-6 mt-5">
          <h4>STANISLAS VANDIER, PRESIDENT</h4>
          <p>10 years at L’Oréal in marketing and general management positions in Europe.</p> <br>
          <p>An entrepreneurial life in Europe and Asia in dermo-cosmetics - product development and alternative retail models - and data / AI.</p> <br>
          <p>A passion for innovation and team ventures.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" id="sect4">
    <div class="allColab">
      <div class="colab">
        <img src="../../assets/images/colab1.jpg" alt="collaborator1">
        <h3 class="mt-5">DR. NICOLAS AMALRIC</h3>
        <p>Scientific Director of QIMA Life Sciences and former CEO of Synelvia.</p>
      </div>
      <div class="colab">
        <img src="../../assets/images/colab2.jpg" alt="collaborator2">
        <h3 class="mt-5">PR. TU-AHN DUONG</h3>
        <p>Dermatologist, APHP, Hôpital Henri Mondor.</p>
      </div>
      <div class="colab">
        <img src="../../assets/images/colab3.jpg" alt="collaborator3">
        <h3 class="mt-5">WILLIAM RICHARD, PHD</h3>
        <p>Director of Studies QIMA Life Sciences Toulouse France since 2018.</p>
      </div>
      <div class="colab">
        <img src="../../assets/images/colab4.jpg" alt="collaborator4">
        <h3 class="mt-5">MÉLISSA EVEILLARD</h3>
        <p>Trainee at APHP since 2021 as a data scientist for Wired Beauty.</p>
      </div>
    </div>
  </div>
  <div class="text-center" id="sect5">
    <h2 class="text-center bold">OUR VALUES</h2>
    <div class="allValues">
      <div class="value">
        <div class="circle"></div>
        <h3 class="mt-5">CLIENT PASSION</h3>
        <p>We focus on results. We listen, we deliver. We help our clients succeed.</p>
      </div>
      <div class="value">
        <div class="circle"></div>
        <h3 class="mt-5">TAILORING OUR RESEARCH</h3>
        <p>We tailor our research to client objectives.</p>
      </div>
      <div class="value">
        <div class="circle"></div>
        <h3 class="mt-5">TECH AND CONSUMER</h3>
        <p>We use technology to understand consumer needs and life style, skin reactions</p>
      </div>
      <div class="value">
        <div class="circle"></div>
        <h3 class="mt-5">HAND-IN-HAND</h3>
        <p>We team up with labs all over the worlds from the concept development or for improved formulae.</p>
      </div>
      <div class="value">
        <div class="circle"></div>
        <h3 class="mt-5">ECOLOGY</h3>
        <p>We produce our devices from recycled materials.</p>
      </div>
    </div>
  </div>
</div>