<div class="row col-md-7" style="margin: auto;">    
  </div>
      <div class="row col-md-12 block1">
          <div class="block2"></div>
          <div class="block3">
            <img
            class="img-techno"
            src="../../assets/images/aboutus.jpg"
            alt="Generic placeholder image">
                <h1 style="margin: auto;">ABOUT US</h1>
          </div>

          
        </div>
      
      <div>

      
</div>
<div id="section2">
  <img class="img-sophie" src="../../assets/images/Sophie.jpg">
  <div class="row">
 <div class="col-md-4"></div>
 <div class="col-md-8 mt-5">
   <h4>SOPHIE LE TANNEUR, CEO</h4>
   <p>An FMCG corporate life of over 20 years at Colgate-Palmolive & L’Oréal in marketing and general management positions in Europe.</p> <br>

   <p>An entrepreneurial life with  turn-arounds of a luxury brands backed by Private equity funds for followed by 7 years of consulting Lucinda which she founded.</p> <br>
    
   <p>A passion for entrepreneurship as an impact investor and mentor.</p>
  </div>
</div>
</div>
<div id="section3" class="mt-5">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aut hic magnam mollitia, unde necessitatibus dolorum tempora quo. Est nobis culpa provident ad tempora magni voluptates earum, alias cum veritatis!</p><div>
