<app-header></app-header>

    <main role="main">

        <div class="col-md-12">
            <div>
                <img class="featurette-image img-fluid mx-auto" id="full-img" src="../../assets/images/product.jpeg" alt="Generic placeholder image">
            </div>
        </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">

        <hr class="featurette-divider">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <h3>FRENCH START-UP</h3>
            <p>Wired Beauty is a French beauty-tech market research company which invested 1,3M€ to develop a non-invasive.</p>
          </div>
          <div class="col-lg-4">
            <h3>DIFFERENT</h3>
            <p>Proprietary IOT and Algorithm allowing deciphering within minutes, combined with a consumer app harvesting consumer opinions. </p>
          </div>
          <div class="col-lg-4">
            <h3>BETTER</h3>
            <p>Real World Evidence of skincare efficiency on large statistical basis, approximately 1000 testers.</p>
          </div>
        </div>
      </div><!-- /.container -->
      <!-- FOOTER -->
<app-footer></app-footer>
    </main>


