@import "../../assets/styles/colors.scss";
body {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }

  .block1 {
    position: relative;
    height: 800px;
    margin-left: 0;

  }

  .block2 {
    position: absolute;
    background-color: $blueWave;
    height: 500px;
  }
  
  .block3 {
    position: relative;
    text-align: center;
  }
  .block3 h1{
    position: absolute;
    top: 45%;
    left: 34%;
    color: white;
    font-weight: bold;
    font-size: 60px;
  }

  .img-techno {
    margin: 60px;
  }
  .container {
    max-width: 960px;
  }

  .round {
      text-align: center;
  }

  .round p {
    margin: 30px 100px;
  }
  
  .global-round {
    padding: 0px 30px;
  }

  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }

  #card-color {
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
  }

  .card-body h3{
    font-weight: bold;
}

.card-body h4{
    font-weight: bold;
}

  .global-card {
      border-radius: 20px;
      padding: 0px;
      margin: 20px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.container {
    width: 100%;
    
}

  