
<div id="data-techno">
  <div class="row block1">
    <div class="block2">
      <img
      class="img-techno"
      src="../../assets/images/data-techno.png"
      alt="Generic placeholder image">
      <div class="title">
        <h1>DATA &<br>TECHNOLOGY</h1>
      </div>
    </div>
  </div>
  <div class="pricing-header text-center">
    <h2 class="featurette-heading text-center">
      SIMILARITIES WITH MEDICAMENT PROTOCOLS
    </h2>
    <p class="lead">
      Skin care product testing often resembles the protocols of medicament testing. It is a long sequential process which aims to protect the voluntary testers, measure performance, record side-effects. For the most serious cosmetic labs, it is not rare to spend over 18 months gathering and analyzing the results of the following stages.
    </p>
  </div>
  <div class="d-flex justify-content-center flex-wrap blocs">
    <div class="d-flex flex-column bloc-description">
      <div class="first-bloc">1</div>
      <div class="d-flex flex-column second-bloc">
        <span>Scientific literature analysis</span>
        <span>Molecule</span>
        <span>Dosage</span>
        <span>Application</span>
        <span>Frequency</span>
      </div>
    </div>
    <div class="d-flex flex-column bloc-description">
      <div class="first-bloc">2</div>
      <div class="second-bloc">Trials on reconstructed skin or explants or animals</div>
    </div>
    <div class="d-flex flex-column bloc-description">
      <div class="first-bloc">3</div>
      <div class="second-bloc">Clinical trials on healthy and affected testers</div>
    </div>
    <div class="d-flex flex-column bloc-description">
      <div class="first-bloc">4</div>
      <div class="second-bloc">Double bind test on large basis vs. placebo vs. existing formula</div>
    </div>
    <div class="d-flex flex-column bloc-description">
      <div class="first-bloc">5</div>
      <div class="second-bloc">Surveillance</div>
    </div>
  </div>
  <div class="shanghai-bloc d-flex justify-content-center">
    <img
      class="featurette-image"
      src="../../assets/images/shanghai.png"
      alt="Patches on user image">
  </div>
  <div class="wired-beauty">
    <h2 class="featurette-heading">
      WHAT MAKES WIRED BEAUTY DIFFERENT ?
    </h2>
    <div class="global-round d-flex justify-content-evenly flex-wrap">
      <div class="round d-flex flex-column">
        <div class="circle">1</div>
        <div class="content">
          <p>In tubo Ingredient profiling and or dosage</p>
          <p>Batch of 10 ingredients comparison.</p>
        </div>
      </div>
      <div class="round d-flex flex-column">
        <div class="circle">2</div>
        <div class="content">
          <p>Trial on reconstructed skin or explants</p>
          <p>Comparison of 2 formulae or ingredients.</p>
        </div>
      </div>
      <div class="round d-flex flex-column">
        <div class="circle">3</div>
        <div class="content">
          <p>Combined clinical and blind use tests</p>
          <p>Comparison at T0, T+1 day, T+8 days, etc. Allows quick retrieval of inefficient or not tolerated products. Increases security and R&D tempo.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="studies-header">
    <h2 class="featurette-heading text-center">STUDIES AND SERVICES</h2>
    <p class="lead">While Wired Beauty always adapts to its clients' specifications and does custom research, the digitally enabled methodology could in the future allow syndicated studies on very large cohorts.
    Nevertheless, using our IOT lab device and app, Wired Beauty easily managed the following :</p>
  </div>
  <div class="studies-services">
    <div class="card-deck card-deck1 mb-3 text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div>
          <h4 class="my-0 bold">IN TUBO</h4>
          <p>Comparison of ingredients or dosage performance</p>
        </div>
        <div>
          <h1 class="card-title pricing-card-title bold">$7K</h1>
        </div>
        <div>
          <ul class="list-unstyled">
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              10 ingredients
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              3 days
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              QIMA & Wired Beauty
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-deck card-deck2 mb-3 text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div>
          <h4 class="my-0 bold">EX VIVO EXPLANTS OR RECONSTRUCTED SKIN</h4>
          <p>Comparison of ingredients or dosage performance</p>
        </div>
        <div>
          <h1 class="card-title pricing-card-title bold">
            $10K<br>
            <span class="plus">+ explant costs</span>
          </h1>
        </div>
        <div>
          <ul class="list-unstyled">
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              10 ingredients
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              10 days
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              QIMA & Wired Beauty
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-deck card-deck3 mb-3 text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div>
          <h4 class="my-0 bold">EX VIVO IN SEVERE EXPOSOME CONDITIONS</h4>
          <p>Comparison of ingredients or dosage performance In standard exposome chamber</p>
        </div>
        <div>
          <h1 class="card-title pricing-card-title bold">
            $30K<br>
            <span class="plus">+ explant costs</span>
          </h1>
        </div>
        <div>
          <ul class="list-unstyled">
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              2 formulas
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              10 days
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              QIMA & Wired Beauty
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-deck card-deck4 mb-3 text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div>
          <h4 class="my-0 bold">SHANGAI PROTOCOL</h4>
          <p>Comparison of antioxidant power NPD vs Vitamin C NPD vs no product at T0, T1, T8, T15</p>
        </div>
        <div>
          <h1 class="card-title pricing-card-title bold">
            $100k<br>
            <span class="plus">+ patches</span>
          </h1>
        </div>
        <div>
          <ul class="list-unstyled">
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              Formula antiox against standard Vitamin C lab formula
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              1 month
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              Local Cro & Wired Beauty & QIMA
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-deck card-deck5 mb-3 text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div>
          <h4 class="my-0 bold">COHORT PROTOCOL</h4>
          <p>Self defences of skin – 200 people, all skin types, under heavy pollution</p>
        </div>
        <div>
          <h1 class="card-title pricing-card-title bold">
            $100k<br>
            <span class="plus">+ patches</span>
          </h1>
        </div>
        <div>
          <ul class="list-unstyled">
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              No product
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              1 to 5 months
            </li>
            <li>
              <i class="fas fal fa-check validate-icon"></i>
              Wired Beauty
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center text-lg-start bg-light text-muted" id="footer-container">
    <section class="">
      <div class="text-center text-md-start mt-5">
        <div class="mt-3 menus">
          <div class="text-center copyright copyright-mobile d-none">
            <div class="logo pointer" [routerLink]="['']">
              <img src="../../assets/images/footer-logo.svg" alt="Wired beauty logo">
            </div>
            <span>© 2022, Wired Beauty<br>All rights reserved.</span>
          </div>
          <div class="informations">
            <h6 class="text-uppercase fw-bold mb-4">Informations</h6>
            <p><a href="#!" class="text-reset">Privacy and cookies</a></p>
            <p><a href="#!" class="text-reset">Data protection</a></p>
            <p><a href="#!" class="text-reset">Careers</a></p>
          </div>
          <div class="text-center copyright copyright-desktop">
            <div class="logo pointer" [routerLink]="['']">
              <img src="../../assets/images/footer-logo.svg" alt="Wired beauty logo">
            </div>
            <span>© 2022, Wired Beauty<br>All rights reserved.</span>
          </div>
          <div class="newsletter">
            <div class="mt-3">
              <h6>NEWSLETTER</h6>
              <input class="p-1" id="input-footer-submit" placeholder="Email address">
              <button class="p-1 m-1" id="btn-footer-submit">Submit</button>
            </div>
            <div>
              <h6>FOLLOW US</h6>
              <a href="https://twitter.com/wired_beauty" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/wiredbeauty/?hl=fr" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/company/wb-technologies/" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>